:80 {
    encode gzip
    
    @backend_paths {
        path /api /api/*
        path /swagger /swagger/*
        path /asyncapi /asyncapi/*
        path /hubs /hubs/*
        path /hangfire /hangfire/*
    }
    handle @backend_paths {
        reverse_proxy backend:8080
    }
    
    handle /redis* {
        reverse_proxy redis-insight:5540
    }

    handle /grafana* {
        reverse_proxy grafana:3000
    }
    
    handle /alloy* {
        reverse_proxy alloy:12345
    }

    handle /prometheus* {
        reverse_proxy prometheus:9090
    }

    handle {
        reverse_proxy frontend:80
    }
}
