:80 {
    encode gzip
    
    handle /api* {
        reverse_proxy backend:8080
    }

    handle /swagger* {
        reverse_proxy backend:8080
    }
    
    handle /asyncapi* {
        reverse_proxy backend:8080
    }

    handle /hubs* {
        reverse_proxy backend:8080
    }

    handle /grafana* {
        reverse_proxy grafana:3000
    }

    handle /prometheus* {
        reverse_proxy prometheus:9090
    }

    handle {
        reverse_proxy frontend:80
    }
}
